#section-hero
  #hero-text
    #hero-lead-text I'm Owen Connor
    #hero-sub-text Great web development
#section-about-me
  #about-me-text
    #about-me-lead
      About Me
    #about-me-content
      I am a versatile, hands-on developer with 3 years’ experience with a proven ability to identify, analyse & solve problems, deal with clients and manage projects from conception to delivery. Having spent 8 years in sales prior to returning to web development I possess a business acumen  and appreciation of commercial sensitivities rarely found in a developer. My background has made me passionate about buidling ﻿web applications that automate and improve business processes and improve peoples lives.
      I joined Storyful in 2011 in order to effect a change in the way news was generated. Over the past three years we have had  a huge imapct on the news industry and we continue to innovate every day, something of which I am immensely proud.
#section-technical-skills
  .skill-section
    .skill-logos
      =image_tag "skill-logos/ror.png", :width => "50px", :height => "100px"
    .skill-text
      Here here is lots of info about this  particular skill set
  .skill-section
    .skill-logos
      =image_tag "skill-logos/ror.png", :width => "50px", :height => "100px"
    .skill-text
      Here here is lots of info about this  particular skill set
  .skill-section
    .skill-logos
      =image_tag "skill-logos/ror.png", :width => "50px", :height => "100px"
    .skill-text
      Here here is lots of info about this  particular skill set
  .skill-section
    .skill-logos
      =image_tag "skill-logos/ror.png", :width => "50px", :height => "100px"
    .skill-text
      Here here is lots of info about this  particular skill set
  .skill-section
    .skill-logos
      =image_tag "skill-logos/ror.png", :width => "50px", :height => "100px"
    .skill-text
      Here here is lots of info about this  particular skill set
  .skill-section
    .skill-logos
      =image_tag "skill-logos/ror.png", :width => "50px", :height => "100px"
    .skill-text
      Here here is lots of info about this  particular skill set
#section-work-experience
  #jobs
    .job
      .item-year
      .item-button
      .item-text-content
        .item-title Storyful
        .item-date
        .item-subheader
        .item-description
          .item-link
    .job
      .item-year
      .item-button
      .item-text-content
        .item-title Storyful
        .item-date
        .item-subheader
        .item-description
          .item-link
#section-education
  #courses
    .course
      .item-year
      .item-button
      .item-text-content
        .item-title Masters
        .item-date
        .item-subheader
        .item-description
          .item-link
    .course
      .item-year
      .item-button
      .item-text-content
        .item-title Higher Diploma
        .item-date
        .item-subheader
        .item-description
          .item-link
    .course
      .item-year
      .item-button
      .item-text-content
        .item-title Diploma SCD
        .item-date
        .item-subheader
        .item-description
          .item-link
#section-contact
