#contact-form
  width: 60%
  padding: 0 0 0 10em
  vertical-align: top
  #form-container
    width: 100%
    .form-row1
      width: 46%
      display: inline-block
      #contact_name
        width: 85%
        font-size: 1.2em
        font-style: italic
        color: #93959c
        //line-height: 20px
        padding: 1em 2em
        background: none repeat scroll 0 0 #585f73
        outline: medium none
        border: medium none
        margin-right: 10%
      #contact_email
        margin-left: 10%
        width: 85%
        font-size: 1.2em
        font-style: italic
        color: #93959c
        //line-height: 20px
        padding: 1em 2em
        background: none repeat scroll 0 0 #585f73
        outline: medium none
        border: medium none

    #contact_message
      width: 91%
      font-size: 1.2em
      font-style: italic
      color: #93959c
      line-height: 20px
      padding: 1em 2em
      background: none repeat scroll 0 0 #585f73
      outline: medium none
      border: medium none
      margin-top: 2em
    #send-button
      background: none repeat scroll 0 0 #ff675f
      color: #fff
      float: right
      font-family: "Open Sans",sans-serif
      font-size: 16px
      font-weight: 600
      margin: 2em 0 0 0
      text-align: center
      outline: medium none
      border: medium none
      padding: 0.5em 1em 0.5em 1em
    .form-response
      font-size: 2em
      text-align: center
